
.cont-sec-07{
    background-color: #061723;
    position: relative;
    margin-bottom: 6rem;
}



.frame-sec07-all{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

.button-port-sec07{
    width: 100%;
    margin: 0 auto;
    /*
    background-color: var(--background-body-header);*/
    position: absolute;
    top: 12rem;
    left: 50%;
    z-index: 10;
    padding-top: 5rem;
    max-width: 1200px;
    transform: translate(-50%);
    
    display: flex;
    z-index: -1;
}

.under-section-div-07{
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.cards-07-abb{
    width: 270px;
}

.cards-07-abb h2{
    color: #2BDEFD;
    font-family: "Chakra Petch",sans-serif;
    font-size: 43px;
    padding: 1rem 0;
}

.cards-07-abb img{
    width: 63px;
    height: 63px;
}

.cards-07-abb p{
    font-size: 16px;
    color: #fff;
}

.frame-sec07-all{
    display: flex;
}

.cont-frame-07-bq1{
    flex: 50%;
    display: flex;
    
}

.cont-frame-07-bq2{
    flex: 50%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    
}

/*----*/

.lnk-07-sspd{
    text-decoration: none;
}

.frame-btn-07sec-a{
    position: relative;
    width: 282px;
    height: 70px;
    background-color: #012640;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.4s;

}

.frame-btn-07sec-a:hover{
    background-color: #D7F9FF;
    
    
}

.frame-btn-07sec-a span{
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    transition: all ease 0.4s;
}

.lnk-07-sspd:hover .frame-btn-07sec-a span{
    color: #061723;
}

.frame-btn-07sec-a img{
    height: 55px;
    filter: invert(1);
    transition: all ease 0.4s;
}

.lnk-07-sspd:hover .frame-btn-07sec-a img{
    filter: invert(0);
}


.frame-btn-07sec-a::after{
    content: "";
    position:absolute;
    bottom: 0;
    right: 0;
    margin: -15px;
    width:30px;
    height:30px;
    transform:rotate(45deg);
    background-color: #061723;
}

@media screen and (max-width:1370px) {
    .frame-sec07-all{
        width: 95%;
    }
}

@media screen and (max-width:1280px) {
    .frame-sec07-all{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .cont-frame-07-bq1{
        padding-bottom: 2rem;
    }

    .cards-07-abb{
        margin: 0 1rem;
    }

    .cont-07-btn-scc{
        margin: 0 1rem;
    }

    .button-port-sec07{
        top: 19rem;
        
    }

    
}

@media screen and (max-width:1023px) {
    .button-port-sec07{
        top: 23rem;
    }
}

@media screen and (max-width:870px){
   
}

@media screen and (max-width:880px){
   
}

@media screen and (max-width:767px) {
   .cont-frame-07-bq1{
    display: flex;
    flex-direction: column;
    width: 80%;
   }

   .cont-frame-07-bq2{
    display: flex;
    flex-direction: column;
   }

   .cards-07-abb{
    width: 100%;
   }

   .cont-07-btn-scc{
    padding-bottom: 2rem;
   }

   .button-port-sec07{
    top: 42rem;
   }
}

@media screen and (max-width:500px) {
    .button-port-sec07{
        top: 44rem;
       }
   
}

@media screen and (max-width:400px) {
   
   
}





