
.simbolo-a-giratorio{
    position: relative;
    width: 200px;
    height: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.aureola-sag{
    position: absolute;
    top: 0;
    left: 5px;
    animation:  aureola-giratoria 30s infinite;
    width: 183px;
    height: 183px;
}

@keyframes aureola-giratoria{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@media screen and (max-width:1023px){

    .simbolo-a-giratorio{
        width: 115px;
        height: 115px;
    }
    .aureola-sag{
        position: absolute;
        top: 0%;
        left: 0%;
        animation:  aureola-giratoria 30s infinite;
        width: 110px;
        height: 110px;
    }
}