
.frame-princ-header-all{
    background-color: var(--background-only-header);
    border-radius: solid red;
    width: 100%;
    height: 8.5rem;
    position: fixed;
    z-index: 30;
}

.content-header{
    width: 100%;
    max-width: 1200px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8125rem;
    height: 8.5rem;
    z-index: 30;
}

.comp-st{
    display: flex;
    align-items: center;
}

.img-logo{
    padding-right: 1.5625rem;
}

.img-logo img{
    width: 5.9375rem;
}

.content-search{
    position: relative;
}

.content-search .input-search{
    color: #338494;
    border: 1px solid #338494;
    padding: 0.6rem 1rem;
    background-color: var(--background-only-header);
    font-size: 1rem;
    min-width: 19.3rem;
    outline: none;
}

.input-search:focus{
    border: 1px solid #338494;
    color: #fff;
}

.content-search img{
    filter: invert(1);
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
}

.comp-st-1{
    display: flex;
    align-items: center;
}

.cont-ld-iz{
    display: flex;
    align-items: center;
}

.cont-ld-rg{
    display: flex;
    align-items: center;
}

/*----*/

.cont-matricula{
    position: relative;
    width: 200px;
    height: 50px;
    background-color: var(--color-especialverdoso);
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.4s;
}

.cont-matricula:hover{
    background-color: #fff;
    transform: translateY(2px);
}

.cont-matricula p{
    font-weight: 600;
    font-size: 1rem;
}

.cont-matricula::after{
    content: "";
    position:absolute;
    bottom: 0;
    right: 0;
    margin: -15px;
    width:30px;
    height:30px;
    transform:rotate(45deg);
    background-color: var(--background-only-header); 
    /*
    box-shadow: 0 0 0 250px #522d5b;*/
}

.cont-matricula p{
    color: #000;
}

.btn-link{
    text-decoration: none;
}

.btn-link-a{
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
    font-weight: 600;
    position: relative;
}

.btn-link-a:hover{
    color: var(--color-especialverdoso);
    
}

.btn-link-a ::after{
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0.8rem;
    width: 0rem;
    height: 0.3rem;
    transition: all ease 0.3s;
}

.btn-link-a:hover ::after{
    background-color: var(--color-especialverdoso);
    width: 2rem;

}



/*btn*/

.btn-header-open-icon{
    background-color: var(--background-only-header);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    display: none;
}

.btn-opne-h{
    width: 24px;
    height: 16px;
    margin: 0.5rem;
    
}

@media screen and (max-width:1280px) {
    .content-header{
        width: 95%;
    }
    
}

@media screen and (max-width:1023px) {
    .content-header{
        display: flex;
        flex-direction: column;
        
        
    }

    .comp-st{
        width: 100%;
        padding-top: 1.2rem;
    }

    .comp-st-1{
        width: 100%;
        
        display: flex;
        justify-content: space-between;
    }
    .content-search{
        width: 100%;
    }

    .input-search{
        width: 100%;
    }
    
}

@media screen and (max-width:767px) {

    .frame-princ-header-all{
        top: 0;
    }

    .content-header{
        top: 0;
        position: fixed;
    }
    
    .content-search-mbl{
        display: none;
    }

    .btn-hdr-mobile{
        display: none;
    }

    .content-header{
        flex-direction: row;
    }

    .btn-header-open-icon{
        display: block;
    }
}